@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Hepta+Slab:wght@500&family=Numans&family=Open+Sans:wght@300&family=PT+Sans&family=Quicksand:wght@600&family=Red+Hat+Display&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url('image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Hammersmith One', sans-serif, 'Hepta Slab', serif, 'Open Sans', sans-serif, 'PT Sans', sans-serif, 'Quicksand', sans-serif, 'Red Hat Display', sans-serif, 'Numans', sans-serif;
    font-size: 16px;
}

#navbar {
    background-color: rgba(0, 0, 0, 0.503);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px; 
    border-bottom: 4px solid rgba(255, 14, 1, 0.644);
}

#nav-logo {
    background-image: url('logo-no-background.png');
    background-size: cover;
    width: 150px;
    height: 50px;
}
#nav-logo h3{
    color: white;
    font-size: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#home-page {
    height: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 32vh;
    font-size: 70px;
}
#center-heading p {
    font-size: 20px;
}
#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Adjust as needed */
}

#buttons a{
    
    border: 2px solid;
    border-radius: 3px;
    color: #fff;
    letter-spacing: 2px;
    padding: 12px 30px;
    text-transform: uppercase;
}
    /* .dropbtn {
        background-color: #f30000b5;
        color: white;
        padding: 5px;
        border: none;
        cursor: pointer;
    } */

#credits{
    color: white;
    padding: 10px;
    font-size: 13px;
    margin-top: 20%;
    height:100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.503);
    border-top: 3px solid red;
}