body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef;
    margin-left: 0;
    margin-top: 0;
    padding: 0px;
    overflow: hidden;
}

.chat-container {
    width: 360px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 1px solid #ddd;
    background: linear-gradient(145deg, #ffffff, #f0f0f0);
}

.chat-box {
    height: 390px;
    overflow-y: scroll;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    margin: 5px 0;
}

.user-message {
    background-color: #007bff;
    color: #fff;
    align-self: flex-end;
    text-align: right;
}

.bot-response {
    background-color: #f1f1f1;
    color: #333;
    align-self: flex-start;
    text-align: left;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.input-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-container button:hover {
    background-color: #0056b3;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.header h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}
